.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.idea
.babelrc
.gitignore
src
.nvmrc
demo
gruntfile.js
build/index.css
build/index.html
build/index.js
src/index.js